<nav id="sidebar">
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="img/img-01.png" alt="..." class="img-fluid rounded-circle"/></div>
        <div class="title">
            <h1 class="h5">Nom du Admin</h1>
            <p> Admin </p>
            <p>TNB GIR</p>
        </div>
    </div>
    <span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active"><a href="index -Admin.html"> <i class="icon-home"></i>Accueil </a></li>
        <li><a href="paiement.html"> <i class="icon-grid"></i>Consulter Paiement</a></li>
        <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Statistique</a></li>
        <li><a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Redevables</a>
            <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                <li><a href="Cons-redevables.html">Consultation</a></li>
            </ul>
        </li>

        <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>gestion Terrain</a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="terrain.html">Consultation</a></li>
                <li><a href="vente.html">Vente</a></li>
            </ul>
        </li>
        <li><a href="tables.html"> <i class="icon-grid"></i>Notification</a></li>
        <li><a href="historique.html"> <i class="icon-grid"></i>Historique</a></li>
        <li><a href="login.html"> <i class="icon-logout"></i>Deconnexion </a></li>
    </ul>
</nav>