      <nav id="sidebar">
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="img/img-01.png" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5">Nom du superAdmin</h1>
            <p>Super Admin</p>
            <p>TNB GIR</p>
          </div>
      </div>
      <span class="heading">Menu principal</span>
        <ul class="list-unstyled">
                <li class="active"><a href="AccueilSA.html"> <i class="icon-home"></i>Accueil</a></li>
                <li><a href="#userMenu" aria-expanded="false" data-toggle="collapse"> <i class="icon-user"></i>Utilisateur</a>
                  <ul id="userMenu" class="collapse list-unstyled ">
                    <li><a href="crudUser.html">créer</a></li>
                    <li><a href="crudUser.html">modifier</a></li>
                    <li><a href="crudUser.html">supprimer</a></li>
                    <li><a href="ListUser.html">rechercher</a></li>

                  </ul>
                </li>
                <li><a href="#categorieMenu" aria-expanded="false" data-toggle="collapse"> <i class="icon-settings-1"></i>Categorie Du Terrain</a>
                  <ul id="categorieMenu" class="collapse list-unstyled ">
                    <li><a href="crudCat.html">créer</a></li>
                    <li><a href="crudCat.html">modifier</a></li>
                    <li><a href="crudCat.html">supprimer</a></li>
                  </ul>
                </li>
                <li><a href="#tauxMenu" aria-expanded="false" data-toggle="collapse"> <i class="icon-cloud"></i>Taux</a>
                  <ul id="tauxMenu" class="collapse list-unstyled ">
                    <li><a href="crudTaux.html">créer</a></li>
                    <li><a href="crudTaux.html">modifier</a></li>
                    <li><a href="crudTaux.html">supprimer</a></li>
                  </ul>
                </li>
                <li><a href="#retardMenu" aria-expanded="false" data-toggle="collapse"> <i class="icon-pie-chart"></i>Taux De Retard</a>
                  <ul id="retardMenu" class="collapse list-unstyled ">
                    <li><a href="crudRetard.html">créer</a></li>
                    <li><a href="crudRetard.html">modifier</a></li>
                    <li><a href="crudRetard.html">supprimer</a></li>
                  </ul>
                </li>
        </ul>
      </nav>